@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.header {
    background-color: #1d2126;
    padding: 25px 0;
    font-family: "Open Sans";
    line-height: 30px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;   
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px; 
}

.row::after, .menu::after {
    content: "";
    display: block;
    clear: both;
}



/* grid xs */
.col-xs-1{
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


.slider {
    height: 660px;
    
    background-image: url(images/slider_background_image.png);
    background-repeat: no-repeat;
    background-size: 1930px 660px;
}


/* tablet */ 
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-7 {
        flex: 0 0 58.33331%;
        max-width: 58.33331%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .hidden-sm {
        display: none;
    }
}



/* laptop */ 
@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        display: flex;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}



/* desktop */ 
@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}




.logo_image img{
    padding-top: 5px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: center;       
}



.menu li:last-child {
    flex-grow: 0;
}

.menu a {
    color: #a4aead; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;   
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid #1d2126;
    border-radius: 3px;
    transition: 0.2s;
}

.menu a:hover {
    border: 2px solid #565c64;
}

.search-form {
    height: 30px;
    position: relative;
}
  
.search-form input {
    float: right;
    width: 100%;
    height: 30px;
    border: 2px solid #565c64;
    border-radius: 3px;
    background-color: #1d2126;
    padding-left: 8px;
    padding-right: 40px;
    color: white;
}

::placeholder {
    color: #ad9c9b;
    font-size: 14px;
    text-transform: uppercase;    
}

form button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 8px;
    background-color: #1d2126;
    border: none; 
    cursor: pointer; 
    background-image: url(images/search_btn.png);
    background-repeat: no-repeat;
    background-position: -15px -15px;
}

.slider-header {
    margin-top: 225px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quattrocento Sans";
    text-transform: uppercase;
}

.slider-description {
    margin-top: 35px;
    font-size: 16px;
    color: #ccd0d7;
    font-weight: 400;
    font-family: "Open Sans";
}

.buttons_slider {
    display: flex;    
}

.slider-button {
    margin-top: 45px;
    padding: 10px 15px;
    border:2px solid white;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Quattrocento Sans";
    text-transform: uppercase;
    transition: 0.1s;
}

.slider-button:hover {
    background-color: #23b7a4;
}

.slider-button:last-child {
    margin-left: 10px;
}

.find_us {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.find_us .block {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    margin-left: 1px;
    background-position-x: center;
    background-position-y: center;   
    cursor: pointer;
    transition: 0.2s;
}

.find_us .block:hover {
    background-color: #939799;
}

.block.facebook {
    background-image: url(images/facebook_logo.png);  
}

.block.twitter {
    background-image: url(images/twitter_logo.png);
}

.block.google {
    background-image: url(images/google_logo.png);
}

.find_us .block:first-child {
    margin-left: 0px;
}

.we_are_modest_header {
    font-size: 36px;    
    color: #292f36;
    font-weight: 700;
    font-family: "Quattrocento Sans";
    text-transform: uppercase;
    margin-top: 85px;
}

.we_are_modest_description {
    margin-top: 65px;
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
    font-weight: 400;
    font-family: "Open Sans";
}

.modest_text_weight {
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
    font-weight: bold;
    font-family: "Open Sans";
}




/* only mobile */

@media (max-width:767px) {

.hidden-xs {
    display: none;
}


.logo_image img {
display: block;
margin: 0 auto;
margin-top: -5px;
}


.menu {
    display: flex;
    overflow-x: auto;
    justify-content: start;  
    margin-top: 5px;
}

.menu a {
    border: none;
}

.menu a:hover {
    border: none;
    color:#ad9c9b;
}

.slider-header {
    margin-top: 50px;
    text-align: center;
}

.slider-description {
    text-align: center;
}

.buttons_slider {
    justify-content: center;
}

}

